footer {
	position: absolute;
	right: 40px;
	bottom: 40px;
	text-align: right;
	z-index: 5;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
    -webkit-animation: fadeIn 1s ease;
       -moz-animation: fadeIn 1s ease;
        -ms-animation: fadeIn 1s ease;
            animation: fadeIn 1s ease;

    @media (max-width: 1000px) {
    	right: 5px;
    	bottom: 5px;
    }

	.text {
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 22px;
		font-family: $dinm;

		@media (max-width: 1000px) {
	    	font-size: 7px;
	    	line-height: normal;
	    }

		a {
			color: #59C9FF;
			font-family: $dinm;
			text-decoration: underline;
		}
	}
	.anchor {
		display: inline-block;
		vertical-align: middle;
		opacity: .7;
		margin-left: 10px;

		@media (max-width: 1000px) {
			width: 20px;
			height: 20px;
			margin-left: 2px;

			img {
				width: 100%;
			}
		}

		@media (max-width: 360px) {
			display: none;
		}
	}
}
.page-changing footer {
	opacity: 0;
}