         
.mainHeader {
    width: 260px;
    height: 100%;
    @include position(fixed, 0, -270px, auto, auto);
    padding: 20px 0;
    z-index: 100;
    background: #0094d9;
    margin: 0;
    text-align: center;
    opacity: 0;
    @include transition(right, .4s);
    .wrapper {
        width: 100%;
        height: 100%;
        @include flex($direction: column)
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    text-align: center;
    padding-top: 0px;
    ul {
        list-style-type: none;
        li {
            a {
                color: #fff;
            }
        }
            /*.................media.............*/
            /*.............end media.............*/
    }
}




/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: block;
    width: 55px;
    height: 55px;
    @include position(fixed, 40px, 40px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: #0094d9;
    border: 5px solid #fff;
    @include transition(all, .4s);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 16px;
        height: 2px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 16px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 15px; margin: auto;}

    &.active               {   right: 300px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 50%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}


}


.logo {
    display: block;
    @include position(absolute, 40px, auto, auto, 40px);
    z-index: 5;
}

.menuArrow {
    position: absolute;
    top: 95px;
    right: 65px;
    z-index: 10;
}



.animated .circle {
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
    transform-origin: 50% 50%;
    animation: zoom .2s forwards;
    animation-delay: 1.3s;
}

.animated .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s ease-out forwards;
  animation-delay: .6s;
}

.animated .text {
    animation: fade 1s forwards;
    animation-delay: 2s;
    opacity: 0;
}


.animated.menuArrow  .circle {
    animation-delay: 6s;
}
.animated.menuArrow  .path {
    animation-delay: 6.2s;
}
.animated.menuArrow .text{
    position: absolute;
    left: -20px;
    top: 0;
    color: #0086c6;
    opacity: 1;
    text-transform: uppercase;
    animation: pulse 1s forwards;
    animation-delay: 5s;
    -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
     transform-origin: 50% 50%;
}


// animations
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes zoom {
    100% {
        transform: scale(1)
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0)
    }
    30% {
        transform: scale(1.4)
    }
    70% {
        transform: scale(.6)
    }
    100% {
        transform: scale(1)
    }
}