         
.mainHeader {
    width: 260px;
    height: 100%;
    @include position(fixed, 0, -270px, auto, auto);
    padding: 20px 0;
    z-index: 100;
    background: #0094d9;
    margin: 0;
    text-align: center;
    opacity: 0;
    @include transition(right, .4s);
    .wrapper {
        width: 100%;
        height: 100%;
        @include flex($direction: column)
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    text-align: center;
    padding-top: 0px;
    ul {
        list-style-type: none;
        li {
            a {
                color: #fff;
            }
        }
            /*.................media.............*/
            /*.............end media.............*/
    }
}




/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: block;
    width: 55px;
    height: 55px;
    @include position(fixed, 40px, 40px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: #0094d9;
    border: 5px solid #fff;
    @include transition(all, .4s);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 16px;
        height: 2px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 16px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 15px; margin: auto;}

    &.active               {   right: 300px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 50%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}


}


.logo {
    display: block;
    @include position(absolute, 40px, auto, auto, 40px);
}