         
.mainHeader {
    width: 100%;
    height: 100%;
    @include position(fixed, 0, -270px, auto, auto);
    padding: 20px 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 140, 204, .8);
    margin: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    .wrapper {
        width: 100%;
        height: 100%;
        @include flex($direction: column, $alignI: center, $justify: center)
    }

    &.active {
        left: 0;
        right: 0;
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    text-align: center;
    padding-top: 0px;
    ul {
        list-style-type: none;
        .menu-item a {
                color: #fff;
                font-family: $dinm;
                font-size: 50px;
                display: inline-block;
                position: relative;

                &:after {
                    content: '';
                    width: 0;
                    left: 50%;
                    bottom: 0;
                    height: 3px;
                    position: absolute;
                    background-color: #fff;
                    -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    transform: translateX(-50%);
                    -webkit-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }

                &:hover:after {
                    width: 100%;
                }
        }
    }
}




/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: block;
    width: 55px;
    height: 55px;
    @include position(fixed, 40px, 40px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: #0094d9;
    border: 5px solid #fff;
    @include transition(all, .3s);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-animation: fadeIn 1s ease;
       -moz-animation: fadeIn 1s ease;
        -ms-animation: fadeIn 1s ease;
            animation: fadeIn 1s ease;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 16px;
        height: 2px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 16px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 15px; margin: auto;}

    &.active               {   z-index: 12;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 50%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}
}
.page-changing .menu-button {
    opacity: 0;
}



.logo {
    display: block;
    @include position(absolute, 40px, auto, auto, 40px);
    z-index: 5;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-animation: fadeIn 1s linear;
       -moz-animation: fadeIn 1s linear;
        -ms-animation: fadeIn 1s linear;
            animation: fadeIn 1s linear;
   
}
.page-changing .logo {
    opacity: 0;
}


.menuArrow {
    position: absolute;
    top: 95px;
    right: 65px;
    z-index: 10;
}



.animated .circle {
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
    transform-origin: 50% 50%;
    animation: zoom .2s forwards;
    animation-delay: 1.3s;
}

.animated .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s ease-out forwards;
  animation-delay: .6s;
}

.animated .text {
    animation: fade 1s forwards;
    animation-delay: 2s;
    opacity: 0;
}


.animated.menuArrow  .circle {
    animation-delay: 6s;
}
.animated.menuArrow  .path {
    animation-delay: 6.2s;
}
.animated.menuArrow .text{
    position: absolute;
    left: -20px;
    top: 0;
    color: #0086c6;
    opacity: 1;
    text-transform: uppercase;
    animation: pulse 1s forwards;
    font-family: $dinm;
    animation-delay: 5s;
    -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
     transform-origin: 50% 50%;
}


// animations
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes zoom {
    100% {
        transform: scale(1)
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0)
    }
    30% {
        transform: scale(1.4)
    }
    70% {
        transform: scale(.6)
    }
    100% {
        transform: scale(1)
    }
}