#ship {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	@media (orientation: landscape) {
		width: 115%;
	}
	@media (orientation: portrait) {
		height: 100%;
		-webkit-transform: translate(-40%, -50%);
		-ms-transform: translate(-40%, -50%);
		-o-transform: translate(-40%, -50%);
		transform: translate(-40%, -50%);
	}
}
.roef-area {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
	animation: blick 2s linear infinite;
    animation-delay: 3s;

	&:hover {
		opacity: 0.7;
		stroke: #F7AD2B;
		stroke-width: 2;
		animation: none;
	}
}
.what-we-do-label {
	font-family: $dincm;
	font-size: 20px;
}

@keyframes blick {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.4;
    }
}