// COLORS
// ---------------------------



// FONTS
// ---------------------------
$dincm:			'DIN Pro Cond Med';
$dinm:			'DIN Pro Med';


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
	font-family: $dinm;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
