// COLORS
// ---------------------------
$blue:			#008CCD;
$yellow : #ebb200;

// FONTS
// ---------------------------
$dincm:			'DIN Pro Cond Med';
$dinm:			'DIN Pro Med';


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    background: #a3effd;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
#main {
    height: 100%;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.content-box {
  background-color: #fff;
  overflow: auto;
  width: 100%;
  height: 100%;
}

h1 {
  font: 28px/60px $dincm;
  color: $blue;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;
  border-color: #DDD;
  @include m1600 {
    margin-bottom: 20px;
    line-height: 48px;
  }
  @media (max-height: 700px) {
    line-height: 36px;
    font-size: 26px;
  }
  @media (max-width: 600px) {
    font-size: 24px;
  }
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.container--list {
   @media (max-width: 860px) {
     text-align: center;
   }
}
.list {
  @include flex($alignI: flex-strat, $justify: flex-start);
  margin-bottom: 40px;
}