// COLORS
// ---------------------------
$blue:			#59C9FF;


// FONTS
// ---------------------------
$dincm:			'DIN Pro Cond Med';
$dinm:			'DIN Pro Med';


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    background: #a3effd;
}
#main {
    height: 100%;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
